{% extends 'base.html.twig' %}

{% block title %}Profil de l'organisateur{{ parent() }}{% endblock %}

{% block body %}

    <div class="detail-profile-show container-form-and-show">

        <center>
            {% if app.user %}
            {% if app.user.profilePicture %}
                <img class="profile-picture-big" src="{{ asset('/images/' ~ app.user.profilePicture) }}"
                     alt="Photo de profil">
            {% else %}
                <img class="profile-picture-big" src="{{ asset('/images/defaultpicture.jpg') }}" alt="Photo de profil">
                <br>
                <p>{{ app.user.pseudo }} n'a pas encore de photo.</p>
            {% endif %}

            <h2 class="title-show">Profil de {{ app.user.pseudo }}</h2>
            <h3>Son campus : {{ app.user.campus }}</h3></center>


        <div class="group-edit-second">
            <div class="form_champ">
                Prénom :<br> <span class="info-show">{{ app.user.firstname }}</span>
            </div>
            <div class="form_champ">
                Nom :<br> <span class="info-show">{{ app.user.lastname }}</span>
            </div>
        </div>
        <div class="group-edit-second">
            <div class="form_champ">
                Téléphone :<br> <span class="info-show">{{ app.user.phone }}</span>
            </div>
            <div class="form_champ">
                Email :<br> <span class="info-show">{{ app.user.email }}</span>
            </div>
        </div>

        {# Mettre le lien de la page d'accueil #}
        <div class="btn-end-form">

            <a href="{{ path('app_activity_index') }}" class="stop-action-btn">Retour</a>

        </div>
        {# Ajouter le lien vers la page d'édition du profil de l'organisateur #}

        {% else %}
            <h2 class="title-show">Organisateur non trouvé</h2>
        {% endif %}

    </div>

{% endblock %}
