{% extends 'base.html.twig' %}
{% block title %}Connexion{% endblock %}
{% block header %}
{% endblock %}
{% block body %}

    <form method="post">

        {% for message in app.flashes('error') %}
            <div class="flash-notice">
                {{ message }}
            </div>
        {% endfor %}


        {% if app.user %}
            <div class="mb-3">
                Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
            </div>
        {% endif %}

        <h1>Connexion</h1>
        <div class="form-connexion">
            <div class="group-edit-min">
                <div class="connexion-email form_champ">
                    <label for="inputEmail">Email : </label><br>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                           autocomplete="email" required autofocus>
                </div>
                <div class="connexion-password form_champ">
                    <label for="inputPassword">Mot de passe : </label><br>
                    <input type="password" name="password" id="inputPassword" class="form-control"
                           autocomplete="current-password"
                           required>
                </div>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="btn-end-form">
                <label>
                    <input type="checkbox" name="_remember_me"> Se souvenir de moi</label>
                <button class="call-action-btn connexion-button form_champ" type="submit">Connexion</button>
            </div>
        </div>
    </form>

    <a class="link-form-action" href="{{ path('app_forgot_password_request') }}">Mot de passe oublié </a>

{% endblock %}