<header>
<div>
    <nav id="header-nav">
        <ul class="header-nav-inner">
            <li class="logo-nav">
                <a href="/">SORTIR<span class="com">.COM</span></a>
            </li>

            {% if app.user %}
                {% if is_granted('ROLE_USER') %}
                    <li>
                        <a id="add-an-activity" href="{{ path('app_activity_create') }}">Proposer une sortie</a>
                    </li>
{#                    <li>#}
{#                        <a href="{{ path('app_profile') }}">#}
{#                            #}{#                                <im src="{{ asset('bundles/demoimage/images' ~ logo) }} />#}
{#                            #}{#                                <img src="{{ profilePicture }}" alt="Photo">#}
{#                            {{ app.user.fullName }}</a>#}
{#                    </li>#}
                    <li class="dropdown">
                        <a href="#">{{ app.user.fullName }}</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Mes Sorties</a></li>
                            <li><a href="{{ path('app_profile') }}">Mon profil</a></li>
                            <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
                        </ul>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li>
                        <a href="{{ path('app_villes') }}">Villes</a>
                    </li>
                    <li>
                        <a href="{{ path('app_sites') }}">Sites</a>
                    </li>
                {% endif %}
{#                <li>#}
{#                    <a href="{{ path('app_logout') }}">Logout</a>#}
{#                </li>#}

            {% else %}
                <li>
                    <a href="{{ path('app_login') }}">Login</a>
                </li>


            {% endif %}



        </ul>
    </nav>

    <div class="header-content">
    <h1 class="site-title">
        SORTIR<span class="com">.COM</span>
    </h1>
        <br>
        <h2>    <span class="sub-title">Sorties entre étudiants</span></h2>
    </div>


    </div>
</header>