<header>
    <div>
        <nav id="header-nav">
            <ul class="header-nav-inner">
                <li class="logo-nav">
                    <a href="/">BubbleOut<span class="com">.COM</span></a>
                </li>

                {% if app.user %}
                    {% if is_granted('ROLE_USER') %}
                        <li>
                            <a class="call-action-btn" href="{{ path('app_activity_create') }}">Proposer une sortie</a>
                        </li>

                        <button id="theme-toggle">
                            <span id="theme-icon" class="fas fa-moon"></span> <!-- Lune pour le thème jour -->
                        </button>


                        <div class="menu-deroulant">
                            <ul class="menu">
                                <li>
                                    {% if app.user.profilePicture %}
                                        <img class="profile-picture-icon"
                                             src="{{ asset('/images/' ~ app.user.profilePicture) }}" alt="photo">
                                    {% else %}<img src="{{ asset('/images/defaultpicture.jpg') }}" alt="photo"><br>
                                    {% endif %}
                                    <a href="#">{{ app.user.fullName }}</a>
                                    <ul class="sub-menu">
                                        <li><a class="sub-menu-deroulant" href="{{ path('app_editprofile') }}">Modifier
                                                Compte</a></li>
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <li><a style="padding-right:30px" href="{{ path('app_users_management') }}">Modifier Membres
                                                    <a class="mini-link-nav" href="{{ path('admin_new_user') }}">+</a></a></li>
                                            <li><a href="{{ path('app_location_management') }}">Modifier Lieux
                                                    <a class="mini-link-nav" href="#">+</a></a></li>
                                            <li><a href="{{ path('app_city_management') }}">Modifier Villes
                                                    <a class="mini-link-nav" href="#">+</a></a></li>
                                        {% endif %}
                                        <li><a class="sub-menu-deroulant"
                                               href="{{ path('app_logout') }}">Déconnexion</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>



                        {#                    <li class="dropdown"> #}

                        {#                        {% if app.user.profilePicture %} #}
                        {#                            <img class="profile-picture-icon" src="{{ asset('/images/' ~ app.user.profilePicture) }}" alt="photo"> #}
                        {#                        {% else %} #}
                        {#                            <img src="{{ asset('/images/defaultpicture.jpg') }}" alt="photo"><br> #}
                        {#                        {% endif %} #}

                        {#                        <img class="profile-picture-icon" src="{{ asset('/images/' ~ app.user.profilePicture) }}" alt=""> #}
                        {#                        <a href="#">{{ app.user.fullName }}</a> #}
                        {#                        <ul class="dropdown-menu"> #}
                        {#                            <li><a href="#">Mes Sorties</a></li> #}
                        {#                            <li><a href="{{ path('app_editprofile') }}">Mon profil</a></li> #}
                        {#                            <li><a href="{{ path('app_logout') }}">Déconnexion</a></li> #}
                        {#                        </ul> #}
                        {#                    </li> #}
                    {% endif %}
                    {#                    {% if is_granted('ROLE_ADMIN') %} #}

                    {#                        <li> #}
                    {#                            <a href="{{ path('app_city_management') }}">Gestion des Villes</a> #}
                    {#                        </li> #}
                    {#                        <li> #}
                    {#                            <a href="{{ path('app_location_management') }}">Gestion des Lieux</a> #}
                    {#                        </li> #}

                    {#                        <li> #}
                    {#                            #}{#                        <a href="{{ path('app_sites') }}">Add Sites</a> #}
                    {#                        </li> #}
                    {#                        <li> #}
                    {#                            <a href="{{ path('app_users_management') }}">Gestion Users</a> #}
                    {#                        </li> #}

                    {#                    {% endif %} #}

                {% else %}
                    <li>
                        <a href="{{ path('app_login') }}">Login</a>
                    </li>


                {% endif %}


            </ul>
        </nav>

    </div>

    {# Afficher les messages flash s'il y en a #}
    {% for message in app.flashes('success') %}
        <div class="alert-success active-status">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('error') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}



</header>

