<header>
<div>
    <nav id="header-nav">
        <ul class="header-nav-inner">
            <li class="logo-nav">
                <a href="/">SORTIR<span class="com">.COM</span></a>
            </li>

            {% if app.user %}
                {% if is_granted('ROLE_USER') %}
                    <li>
                        <a class="call-action-btn" href="{{ path('app_activity_create') }}">Proposer une sortie</a>
                    </li>
                    <li class="dropdown">
                        <a href="#">{{ app.user.fullName }}</a>
                        <ul class="dropdown-menu">
{#                            <li><a href="#">Mes Sorties</a></li>#}
                            <li><a href="{{ path('app_editprofile') }}">Mon profil</a></li>
                            <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
                        </ul>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li>
{#                        <a href="{{ path('app_villes') }}">Add Villes</a>#}
                    </li>
                    <li>
{#                        <a href="{{ path('app_sites') }}">Add Sites</a>#}
                    </li>
                    <li>
                        <a href="{{ path('admin_new_user') }}">Add Users</a>
                    </li>
                {% endif %}

                {% else %}
                    <li>
                        <a href="{{ path('app_login') }}">Login</a>
                    </li>


                {% endif %}



            </ul>
        </nav>

    <div class="header-content">
    <h1 class="site-title">
        SORTIR<span class="com">.COM</span>
    </h1>
        <br>
        <h2>    <span class="sub-title">Sorties entre étudiants</span></h2>
    </div>


    </div>
</header>