{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block body %}

    <div class="container-form-and-show-min">


        {% for flash_error in app.flashes('reset_password_error') %}
            <div class="alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}

        <span class="title-page-header title-show">Mot de passe oublié</span>
        <div><br>
                Entrez votre adresse e-mail et nous vous enverrons un lien pour réinitialiser votre mot de passe.

        </div>
        {{ form_start(requestForm) }}
<br><br><br>
        <div class="form_champ">
        {{ form_label(requestForm.email) }}
        {{ form_widget(requestForm.email) }}


    {% if form_errors(requestForm)|length > 0 %}
        <span class="required-info">{{ form_errors(requestForm) }}</span>
    {% endif %}
        </div>

    <div class="btn-end-form create-activity-action">

        <button class="btn call-action-btn">Recevoir par email</button>

    </div>

    {{ form_end(requestForm) }}
    </div>
{% endblock %}
