{% extends 'base.html.twig' %}

{% block title %}Page Admin inscription{% endblock %}

{% block body %}

    <h1>Page Admin inscription</h1>





{#    <label for="inputEmail">Email : </label>#}
{#    <input type="email"  name="email" id="inputEmail" class="form-control"#}
{#           autocomplete="email" required autofocus>#}



{# Afficher les messages flash s'il y en a #}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('error') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}

     Afficher le formulaire
    {{ form_start(registrationForm) }}

<div>
    {{ form_label(registrationForm.firstname) }}
    {{ form_widget(registrationForm.firstname) }}
    {{ form_errors(registrationForm.firstname) }}

</div>

<div>
    {{ form_label(registrationForm.lastname) }}
    {{ form_widget(registrationForm.lastname) }}
    {{ form_errors(registrationForm.lastname) }}

</div>

<div>
    {{ form_label(registrationForm.phone) }}
    {{ form_widget(registrationForm.phone) }}
    {{ form_errors(registrationForm.phone) }}
</div>

<div>
    {{ form_label(registrationForm.email) }}
    {{ form_widget(registrationForm.email) }}
    {{ form_errors(registrationForm.email) }}

</div>

<div>
    {{ form_label(registrationForm.password) }}
    {{ form_widget(registrationForm.password) }}
    {{ form_errors(registrationForm.password) }}
</div>

<div>
    {{ form_label(registrationForm.confirmpassword) }}
    {{ form_widget(registrationForm.confirmpassword) }}
    {{ form_errors(registrationForm.confirmpassword) }}
</div>

<div>
    {{ form_label(registrationForm.campus) }}
    {{ form_widget(registrationForm.campus) }}
    {{ form_errors(registrationForm.campus) }}
</div>

<div>
     {{ form_label(registrationForm.profilePicture) }}
     {{ form_widget(registrationForm.profilePicture) }}
     {{ form_errors(registrationForm.profilePicture) }}

</div>

<button type="submit">Enregistrer</button>
<button>
    <a href="{{ path('admin_new_user') }}">Annuler</a>
</button>

{{ form_end(registrationForm) }}

{{ form_start(csvForm) }}
    {{ form_row(csvForm.file) }}
<button type="submit">Upload CSV</button>
{{ form_end(csvForm) }}

{% endblock %}
