{% extends 'base.html.twig' %}

{% block title %}Page Admin inscription{% endblock %}

{% block body %}

<div class="container-form-and-show">

    <span class="title-page-header title-show">Ajouter un utilisateur</span>
    <br><br><br>


    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('error') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}

    {{ form_start(registrationForm) }}
<div class="form_champ">
    {{ form_label(registrationForm.firstname) }}
    {{ form_widget(registrationForm.firstname) }}
    {% if form_errors(registrationForm.firstname)|length > 0 %}
        <span class="required-info">{{ form_errors(registrationForm.firstname) }}</span>
    {% endif %}
</div>

<div class="form_champ">
    {{ form_label(registrationForm.lastname) }}
    {{ form_widget(registrationForm.lastname) }}
    {% if form_errors(registrationForm.lastname)|length > 0 %}
        <span class="required-info">{{ form_errors(registrationForm.lastname) }}</span>
    {% endif %}

</div>

<div class="form_champ">
    {{ form_label(registrationForm.phone) }}
    {{ form_widget(registrationForm.phone) }}
    {% if form_errors(registrationForm.phone)|length > 0 %}
        <span class="required-info">{{ form_errors(registrationForm.phone) }}</span>
    {% endif %}
</div>

<div class="form_champ">
    {{ form_label(registrationForm.email) }}
    {{ form_widget(registrationForm.email) }}
    {% if form_errors(registrationForm.email)|length > 0 %}
        <span class="required-info">{{ form_errors(registrationForm.email) }}</span>
    {% endif %}

</div>

<div class="form_champ">
    {{ form_label(registrationForm.password) }}
    {{ form_widget(registrationForm.password) }}
    {% if form_errors(registrationForm.password)|length > 0 %}
        <span class="required-info">{{ form_errors(registrationForm.password) }}</span>
    {% endif %}
</div>

<div class="form_champ">
    {{ form_label(registrationForm.confirmpassword) }}
    {{ form_widget(registrationForm.confirmpassword) }}
    {% if form_errors(registrationForm.confirmpassword)|length > 0 %}
        <span class="required-info">{{ form_errors(registrationForm.confirmpassword) }}</span>
    {% endif %}
</div>

<div class="form_champ">
    {{ form_label(registrationForm.campus) }}
    {{ form_widget(registrationForm.campus) }}
    {% if form_errors(registrationForm.campus)|length > 0 %}
        <span class="required-info">{{ form_errors(registrationForm.campus) }}</span>
    {% endif %}
</div>

<div class="form_champ">
     {{ form_label(registrationForm.profilePicture) }}
     {{ form_widget(registrationForm.profilePicture) }}
    {% if form_errors(registrationForm.profilePicture)|length > 0 %}
        <span class="required-info">{{ form_errors(registrationForm.profilePicture) }}</span>
    {% endif %}

</div>

    <div class="btn-end-form">

    <a class="stop-action-btn" href="{{ path('admin_new_user') }}">Annuler</a>
        <button class="call-action-btn" type="submit">Enregistrer</button>
    </div>


{{ form_end(registrationForm) }}
</div>

    <div class="container-form-and-show">

        <span class="title-page-header title-show">Ajouter via CSV</span>

    <br><br><br>

{{ form_start(csvForm) }}
        <div class="form_champ create-activity-location">
            {{ form_label(csvForm.file) }}
            {{ form_widget(csvForm.file) }}
            {{ form_errors(csvForm.file) }}
        </div>

        <div class="btn-end-form">

        <button class="call-action-btn" type="submit">Upload CSV</button>
{{ form_end(csvForm) }}

        </div>

</div>
{% endblock %}
