<article class="activity-card">
    <div class="activity-card-inner">
        <div class="total-card">
            <div class="top">
                <div class="tps">
                    <div class="color-gradient">
                        Clos le <span class="fontweight">{{ activity.subLimitDate | date("d/m") }}</span>
                        à <span class="fontweight">{{ activity.subLimitDate |format_datetime('none', 'short', locale='fr') }}</span>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <a href="{{ path('activity_show', {'id': activity.id}) }}">
                    {{ activity.name }}</a>
                <br>

                <span class="fontweight">{{ activity.dateStart | date("d/m") }}</span>
                à <span class="fontweight">{{ activity.dateStart|format_datetime('none', 'short', locale='fr') }}</span>
                à <span class="fontweight">{{ activity.campus.name }}</span>
                <br><br>
                Encore <span class="fontweight">{{ activity.subMax }}</span> places
            </div>
        </div>
        <div class="total-card-back">
            <a href="{{ path('activity_show', {'id': activity.id}) }}">
                {{ activity.name }}</a>
            <div class="total-card-back-inner">
                <span class="color-gradient">{{ activity.name }}</span><br>
                {{ activity.infoActivity|slice(0, 250) }}<br><br>

                Organisateur: <a href="{{ path('app_organizer_profile', {'id': activity.organizer.getId()}) }}"
                                 class="fontweight">{{ activity.organizer.pseudo }}</a>


            </div>
        </div>
    </div>
</article>