{% extends 'base.html.twig' %}

{% block title %}Créer {{ parent() }}{% endblock %}

{% block body %}

    <div class="form-create-activity">
        <span class="title-page-header">Créer ma sortie</span>
        <p>Campus affilié : {{ user.campus }}</p><br><br>

        {{ form_start(activityForm) }}

        <div class="group-edit-second">

            <div class="form_champ create-activity-name">
                {{ form_label(activityForm.name) }}<br>
                {{ form_widget(activityForm.name) }}
            </div>
            <div class="form_champ create-activity-location">
                {{ form_label(activityForm.location) }}<br>
                {{ form_widget(activityForm.location) }}<br>
                <a id="create-activity-add-location" href="{{ path('app_activity_create_location') }}">Ajouter un
                    nouveau lieu</a>
            </div>
        </div>

        <div class="group-edit-second">

            <div class="form_champ create-activity-dateStart">
                {{ form_label(activityForm.dateStart) }}<br>
                {{ form_widget(activityForm.dateStart) }}
            </div>
            <div class="form_champ create-activity-duration">
                {{ form_label(activityForm.duration) }}<br>
                {{ form_widget(activityForm.duration) }}
            </div>
        </div>

        <div class="group-edit-second">

            <div class="form_champ create-activity-subMax">
                {{ form_label(activityForm.subMax) }}<br>
                {{ form_widget(activityForm.subMax) }}
            </div>
            <div class="form_champ create-activity-subLimitDate">
                {{ form_label(activityForm.subLimitDate) }}<br>
                {{ form_widget(activityForm.subLimitDate) }}
            </div>
        </div>

        <div class="group-edit-zero">

            <div class="form_champ create-activity-infoActivity">
                {{ form_label(activityForm.infoActivity) }}<br>
                {{ form_widget(activityForm.infoActivity) }}
            </div>
        </div>

        <div class="btn-end-form create-activity-action">

            {{ form_widget(activityForm.isPublished) }}
            {{ form_label(activityForm.isPublished) }}

            <button type="submit" class="call-action-btn create-activity-publication">Créer ma sortie</button>
        </div>

        {{ form_end(activityForm) }}
    </div>




{% endblock %}


