{% extends 'base.html.twig' %}

{% block title %}Créer {{ parent() }}{% endblock %}

{% block body %}

    <p>Campus : {{ user.campus }}</p>
    {{ form_start(activityForm) }}
    {{ form_widget(activityForm) }}
    {{ form_end(activityForm) }}
    <a href="{{ path('app_activity_create_location') }}">Créer un lieu</a>

{% endblock %}


