{% extends 'base.html.twig' %}

{% block title %}BackOfficeUser {{ parent() }}{% endblock %}

{% block body %}

    <div class="detail-profile-show container-form-and-show">

        <span class="title-page-header title-show">Modifier un utilisateur</span>

        <br>
        <br><br>

        {% for user in users %}
            <div class="container-user">
                <div>
                    <span class="form-info-inner"><img class="profile-picture-icon-inner" src="{{ asset('/images/defaultpicture.jpg') }}" alt="photo">
                        {{ user.pseudo }}</span>

                    {% if user.activeStatus == 1 %}
                        <span class="active-status">Activé</span>
                    {% else %}
                        <span class="desactive-status">Désactivé</span>
                    {% endif %}
                    <br><br>                    <br>

                </div>

                <div class="btn-inner-container">
                    {% if user.activeStatus == 1 %}
                        <a class="call-action-btn"
                           href="{{ path('app_users_management_soft_delete', {'id': user.id}) }}">Désactiver</a>
                    {% else %}
                        <a class="call-action-btn"
                           href="{{ path('app_users_management_soft_delete', {'id': user.id}) }}">Réactiver</a>
                    {% endif %}

                    <a class="stop-action-btn" href="{{ path('app_users_management_delete', {'id': user.id}) }}"
                       onclick="return confirm('Ceci est IRREVERSIBLE, le MONDE pourrait s\'effondrer après cette action, êtes vous sur de VOUS ?')">
                        Supprimer définitivement</a>
                </div>
            </div>
        {% endfor %}
        <br>
        <br>


        <div class="btn-end-form">

            <a class="stop-action-btn" href="{{ path('app_activity_index') }}">Retour</a>
            <a class="call-action-btn" href="{{ path('admin_new_user') }}">Add Users</a>
        </div>
    </div>

{% endblock %}



