{% extends 'base.html.twig' %}

{% block title %}BackOfficeUser {{ parent() }}{% endblock %}

{% block body %}

    <a href="{{ path('admin_new_user') }}">Add Users</a>
    <br>


    {% for user in users %}
        <br>
        <p>{{ user.pseudo }}</p>
        <div>
            <p>Status du compte :</p>
            {% if user.activeStatus == 1 %}
                <p>Activé</p>
            {% else %}
                <p>Désactivé</p>
            {% endif %}
        </div>
        {% if user.activeStatus == 1 %}
            <a class="call-action-btn" href="{{ path('app_users_management_soft_delete', {'id': user.id}) }}"> Desactiver le compte de
                : {{ user.pseudo }}</a>
        {% else %}
            <a class="call-action-btn" href="{{ path('app_users_management_soft_delete', {'id': user.id}) }}"> Réactiver le compte de
                : {{ user.pseudo }}</a>
        {% endif %}
        <br>
        <a class="stop-action-btn" href="{{ path('app_users_management_delete', {'id': user.id}) }}" onclick="return confirm('Ceci est IRREVERSIBLE, le MONDE pourrait s\'éffondrer après cette action, êtes vous sur de VOUS ?')" > Supprimer : {{ user.pseudo }}</a>
    {% endfor %}
    <br>
    <br>
    <a class="stop-action-btn" href="{{ path('app_activity_index') }}">Retour</a>

{% endblock %}



