{% extends 'base.html.twig' %}

{% block title %}BackOfficeLieux {{ parent() }}{% endblock %}

{% block body %}

    {% for location in locations %}
        <p>Nom :{{ location.name }}</p>
        <p>Adresse :{{ location.streetName }}</p>
        <br>
        <a class="stop-action-btn" href="{{ path('app_location_management_delete', {'id': location.id}) }}">Supprimer {{ location.name }}</a>
    {% endfor %}
    {{ form_start(locationForm) }}
    {{ form_widget(locationForm) }}
    <button type="submit" class="call-action-btn create-activity-publication">Ajouter un lieu</button>
    {{ form_end(locationForm) }}
    <a class="stop-action-btn" href="{{ path('app_activity_index') }}">Retour</a>
{% endblock %}



