{% extends 'base.html.twig' %}

{% block title %}BackOfficeLieux {{ parent() }}{% endblock %}

{% block body %}

    <div class="container-form-and-show">

        <span class="title-page-header title-show">Ajouter un lieu</span>
        <br><br><br>
        {{ form_start(locationForm) }}

        <div class="form_champ">
            {{ form_label(locationForm.name) }}
            {{ form_widget(locationForm.name) }}
            {{ form_errors(locationForm.name) }}
        </div>
        <div class="form_champ">
            {{ form_label(locationForm.streetName) }}
            {{ form_widget(locationForm.streetName) }}
            {{ form_errors(locationForm.streetName) }}
        </div>

        <div class="form_champ">
            {{ form_label(locationForm.latitude) }}
            {{ form_widget(locationForm.latitude) }}
            {{ form_errors(locationForm.latitude) }}
        </div>

        <div class="form_champ">
            {{ form_label(locationForm.longitude) }}
            {{ form_widget(locationForm.longitude) }}
            {{ form_errors(locationForm.longitude) }}
        </div>

        <div class="form_champ">
            {{ form_label(locationForm.cities) }}
            {{ form_widget(locationForm.cities) }}
            {{ form_errors(locationForm.cities) }}
        </div>

        <div class="btn-end-form">
            <a class="stop-action-btn" href="{{ path('app_activity_index') }}">Retour</a>
            <button type="submit" class="call-action-btn">Ajouter un lieu</button>

            {% if form_errors(locationForm)|length > 0 %}
                <span class="required-info">{{ form_errors(locationForm) }}</span>
            {% endif %}

        </div>
        {{ form_end(locationForm) }}

    </div>


    </div>

    <div class="detail-profile-show container-form-and-show">

        <span class="title-page-header title-show">Modifier un lieu</span>
<br><br><br>

        {% for location in locations %}
            <div class="container-user">
                <span class="form-info-inner">{{ location.name }}</span>
                <p>{{ location.streetName }}</p>
                <br>
                <div class="btn-inner-container">

                <a class="stop-action-btn" href="{{ path('app_location_management_delete', {'id': location.id}) }}">Supprimer</a>
{#                    <a class="call-action-btn" href="{{ path('app_location_management_update', {'id': location.id}) }}">Modifier</a>#}
                </div>
            </div>
        {% endfor %}

    </div>

{% endblock %}



